site_name: Knowledge Base
theme:
  name: material
  palette:
    primary: teal
    accent: purple
  features:
    - navigation.tabs
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
